---
layout: slideshow
title: Drawing with Turtle
---

<div class="slide">
    {% include "slide-logo.html" %}

    <h1>Drawing with Turtle</h1>

    <div class="objectives">
        <div class="box">
            <h3>Students will be able to:</h3>

            <ul>
                <li>Explore the Wipple Playground</li>
                <li>Practice movement commands to draw a simple shape</li>
                <li>
                    Use
                    <code class="command bg-orange-100 text-orange-500">
                        <i>repeat</i>repeat
                    </code>
                    to draw a complex shape
                </li>
                <li>Discuss the value of abstraction</li>
            </ul>
        </div>

        <div class="box">
            <h3>Today's plan:</h3>

            <ul>
                <li><strong>Warm up:</strong> Spirograph</li>
                <li><strong>Guided practice:</strong> Setting up Wipple</li>
                <li>
                    <strong>Turn and talk:</strong> The
                    <code class="command bg-orange-100 text-orange-500">
                        <i>repeat</i>repeat
                    </code>
                    command
                </li>
                <li><strong>Challenge activity:</strong> Code a spirograph</li>
                <li><strong>Discuss:</strong> Abstraction</li>
            </ul>
        </div>
    </div>

    {% include "slide-footer.html" %}
</div>

<div class="slide">
    <h2>Warm up: Spirograph</h2>

    <img src="./images/spirograph.jpg" class="w-full" />
    <small> Source: The Original Spirograph Design Set (YouTube) </small>
</div>

<div class="slide">
    <h2>Warm up: Spirograph</h2>

    <p><strong>At your tables...</strong></p>

    <ul>
        <li>
            <strong class="text-purple-500">Artist:</strong>
            In charge of the spirograph
        </li>
        <li>
            <strong class="text-teal-500">Translator:</strong>
            Interpret instructions (count out loud)
        </li>
        <li>
            <strong class="text-orange-500">Writer:</strong>
            Write down instructions
        </li>
    </ul>

    <br />

    <p>
        <strong> Work for 3 minutes </strong>
    </p>
</div>

<div class="slide">
    <h2>Warm up: Spirograph</h2>

    <p><strong>Switch with the table next to you...</strong></p>
    <br />

    <h2>
        Flip over your paper and follow your new instructions
        <span class="underline">exactly</span>!
    </h2>

    <ul>
        <li>
            <strong class="text-orange-500">Writer:</strong>
            Read instructions
        </li>
        <li>
            <strong class="text-teal-500">Translator:</strong>
            Tell artist how to move pen
        </li>
        <li>
            <strong class="text-purple-500">Artist:</strong>
            In charge of the spirograph
        </li>
    </ul>

    <br />

    <p><strong>Work for 3 minutes</strong></p>
</div>

<div class="slide">
    <h2>Warm up: Spirograph</h2>

    <ul>
        <li><strong>Compare your drawings</strong></li>
        <li>Were your instructions followed as intended?</li>
        <li>What would you change?</li>
        <li>How could this activity relate to coding?</li>
    </ul>

    <h2>
        <br />
        <span class="text-teal-500">Artist</span>: put away materials
    </h2>
</div>

<div class="slide">
    <h2>Guided practice: Setting up Wipple</h2>

    <ul>
        <li>
            <strong>
                Open your computers and go to
                <span class="text-blue-500">wipple.org</span>
            </strong>
        </li>

        <li>Click <strong>Start coding now</strong></li>
    </ul>

    <img
        src="./images/guided-practice-1.png"
        class="mt-16 object-contain mx-auto"
    />
</div>

<div class="slide">
    <h2>Guided practice: Setting up Wipple</h2>

    <ul>
        <li>Click <strong>Sign In</strong></li>
    </ul>

    <img src="./images/guided-practice-2.png" class="object-contain h-[5in]" />
</div>

<div class="slide">
    <h2>Guided practice: Setting up Wipple</h2>

    <ul>
        <li>Click <strong>New Playground</strong></li>
    </ul>

    <img src="./images/guided-practice-3.png" class="object-contain h-[5in]" />
</div>

<div class="slide">
    <h2>Guided practice: Setting up Wipple</h2>

    <ul>
        <li>Click <strong>Turtle</strong></li>
        <li>You're ready to start coding!</li>
    </ul>

    <img src="./images/guided-practice-4.png" class="object-contain h-[4in]" />
</div>

<div class="slide">
    <h2>Guided practice: Setting up Wipple</h2>

    <div class="flex flex-row w-full gap-4">
        <ul class="flex-1">
            <li>
                <strong
                    >Use these four commands and the dropdowns to draw a
                    shape:</strong
                >

                <ul>
                    <li>
                        <code class="command bg-green-100 text-green-500">
                            <i>arrow_upward</i>forward
                        </code>
                    </li>

                    <li>
                        <code class="command bg-green-100 text-green-500">
                            <i>arrow_downward</i>backward
                        </code>
                    </li>

                    <li>
                        <code class="command bg-green-100 text-green-500">
                            <i>rotate_left</i>left
                        </code>
                    </li>

                    <li>
                        <code class="command bg-green-100 text-green-500">
                            <i>rotate_right</i>right
                        </code>
                    </li>
                </ul>
            </li>

            <li>
                Work for <strong>5 minutes</strong>, then share with your table
            </li>
        </ul>

        <img src="./images/turtle-square.png" class="w-[4in] object-contain" />
    </div>
</div>

<div class="slide">
    <h2>Turn and talk</h2>

    <h2 class="text-center font-normal">
        Count your instructions. How could you use fewer instructions?

        <br />
        <br />

        <strong class="text-teal-500">Writer:</strong>
        Did you write down every step for the spirograph, or did you leave some
        steps out?

        <br />
        <br />

        Find a Wipple command that could help!
    </h2>
</div>

<div class="slide">
    <h2>Challenge: Code a spirograph</h2>

    <div class="flex flex-row w-full gap-4">
        <ul class="flex-1">
            <li>
                Use the commands you learned today and
                <code class="command bg-orange-100 text-orange-500">
                    <i>repeat</i>repeat
                </code>
                to draw a <strong>unique</strong> spirograph!
            </li>

            <li>You have <strong>30 minutes</strong></li>

            <li>Collaborate at your table</li>

            <li>
                <strong>Tip:</strong> Drag
                <code class="command bg-purple-100 text-purple-500">
                    <i>speed</i>speed
                </code>
                into your code (under Appearance) to make the turtle go faster
            </li>
        </ul>

        <img
            src="./images/turtle-spirograph.png"
            class="w-[4in] ml-4 object-contain"
        />
    </div>
</div>

<div class="slide">
    <h2>When you're done...</h2>

    <ul>
        <li>Click <strong>Print</strong> and <strong>save</strong> the file</li>
    </ul>

    <img src="./images/print-button.png" class="object-contain h-[5in]" />
</div>

<div class="slide">
    <h2>Discuss: Abstraction</h2>

    <h2 class="text-center font-normal">
        <br />
        <br />

        Think about using
        <code class="command bg-orange-100 text-orange-500">
            <i>repeat</i>repeat
        </code>
        in your spirograph. What did it make easier? What could it make more
        difficult?
    </h2>
</div>

<div class="slide">
    <h2>Exit ticket (on your own)</h2>

    <ul>
        <li>Upload your code and drawing (click <strong>Print</strong>)</li>

        <li>
            How many
            <code class="command bg-sky-100 text-sky-500">times</code>
            did you
            <code class="command bg-orange-100 text-orange-500">
                <i>repeat</i>repeat
            </code>
            to draw your spirograph? How do you know?
        </li>

        <li>
            Could you draw your spirograph <em>without</em>
            <code class="command bg-orange-100 text-orange-500">
                <i>repeat</i>repeat
            </code>
            ? Why or why not? Which way do you think is better?
        </li>

        <li>Quickly answer the survey questions</li>
    </ul>

    <br />

    <p><strong>When you're done:</strong> Come get your printed drawing!</p>
</div>
