---
layout: slideshow
title: Drawing with Turtle
---

<div class="slide">
    {% include "slide-logo.html" %}

    <h1>Drawing with Turtle</h1>

    <div class="objectives">
        <div class="box">
            <h3>Students will be able to:</h3>

            <ul>
                <li>Navigate the Wipple Playground</li>
                <li>Move the Turtle to draw a square</li>
                <li>
                    Use the
                    <code class="command bg-orange-100 text-orange-500">
                        <i>repeat</i>repeat
                    </code>
                    command to make a spirograph
                </li>
            </ul>
        </div>

        <div class="box">
            <h3>Today's plan:</h3>

            <ul>
                <li><strong>Warm up:</strong> Spirograph</li>
                <li><strong>Guided practice:</strong> Setting up Wipple</li>
                <li>
                    <strong>Turn and talk:</strong> The
                    <code class="command bg-orange-100 text-orange-500">
                        <i>repeat</i>repeat
                    </code>
                    command
                </li>
                <li><strong>Partner activity:</strong> Spirograph</li>
            </ul>
        </div>
    </div>

    {% include "slide-footer.html" %}
</div>

<div class="slide">
    <h2>Warm up: Spirograph</h2>

    <img src="./images/spirograph.jpg" class="w-full" />
    <small> Source: The Original Spirograph Design Set (YouTube) </small>
</div>

<div class="slide">
    <h2>Warm up: Spirograph</h2>

    <ul>
        <li>
            <strong>Work with your table</strong> to draw a spiral using the
            spirograph.
        </li>
        <li><strong>Discuss:</strong> How often does the spiral repeat?</li>
        <li>
            <strong>Brainstorm instructions</strong> so another table can draw
            your spiral.
        </li>
        <li>
            <strong>Exchange instructions</strong> with the table to your left.
            Were your instructions effective? How could you make your
            instructions easier to understand?
        </li>
    </ul>
</div>

<div class="slide">
    <h2>Guided practice: Setting up Wipple</h2>

    <ul>
        <li>
            You can make a computer draw your spiral using similar instructions!
        </li>

        <li><strong>Work with a partner</strong></li>

        <li>
            <strong>
                Open your computers and go to
                <span class="text-blue-500">wipple.org</span>
            </strong>
        </li>
    </ul>

    <img src="./images/guided-practice-1.png" class="mt-4" />
</div>

<div class="slide">
    <h2>Guided practice: Setting up Wipple</h2>

    <img src="./images/guided-practice-2.png" class="object-contain h-[6in]" />
</div>

<div class="slide">
    <h2>Guided practice: Setting up Wipple</h2>

    <img src="./images/guided-practice-3.png" />
</div>

<div class="slide">
    <h2>Guided practice: Setting up Wipple</h2>

    <img src="./images/guided-practice-4.png" />
</div>

<div class="slide">
    <h2>Guided practice: Setting up Wipple</h2>

    <img src="./images/guided-practice-5.png" />
</div>

<div class="slide">
    <h2>Guided practice: Setting up Wipple</h2>

    <p><strong>Recap:</strong></p>

    <div class="flex flex-row w-full gap-4">
        <ul class="flex-1">
            <li>
                Click
                <img
                    src="./images/start-coding-now-button.png"
                    class="inline h-[1lh] align-bottom"
                />
            </li>
            <li>
                Click
                <img
                    src="./images/sign-in-button.png"
                    class="inline h-[1lh] align-bottom"
                />
            </li>
            <li>
                Click
                <img
                    src="./images/new-playground-button.png"
                    class="inline h-[1lh] align-bottom"
                />
            </li>
            <li>
                Click
                <img
                    src="./images/turtle-button.png"
                    class="inline h-[1lh] align-bottom"
                />
            </li>
            <li>
                Click
                <img
                    src="./images/add-button.png"
                    class="inline h-[1lh] align-bottom"
                />
            </li>
            <li>
                Drag
                <code class="command bg-green-100 text-green-500">
                    <i>arrow_upward</i>forward
                </code>
                into code box
            </li>
        </ul>

        <img src="./images/turtle-forward.png" class="w-[4in] object-contain" />
    </div>
</div>

<div class="slide">
    <h2>Guided practice: Setting up Wipple</h2>

    <div class="flex flex-row w-full gap-4">
        <ul class="flex-1">
            <li>
                <strong>Use these four commands:</strong>
                <ul>
                    <li>
                        <code class="command bg-green-100 text-green-500">
                            <i>arrow_upward</i>forward
                        </code>
                    </li>

                    <li>
                        <code class="command bg-green-100 text-green-500">
                            <i>arrow_downward</i>backward
                        </code>
                    </li>

                    <li>
                        <code class="command bg-blue-100 text-blue-500">
                            <i>rotate_left</i>left
                        </code>
                    </li>

                    <li>
                        <code class="command bg-blue-100 text-blue-500">
                            <i>rotate_right</i>right
                        </code>
                    </li>
                </ul>
            </li>

            <li><strong>Can you make a square?</strong></li>
        </ul>

        <img src="./images/turtle-square.png" class="w-[4in] object-contain" />
    </div>
</div>

<div class="slide">
    <h2>
        Turn and talk: The
        <code class="command bg-orange-100 text-orange-500">
            <i>repeat</i>repeat
        </code>
        command
    </h2>

    <h2 class="text-center font-normal">
        <br />

        Read your instructions for drawing a square. How many instructions do
        you have? How could you use fewer instructions?

        <br />
        <br />

        <strong>Listen for:</strong> <em>repeat, times, again</em>
    </h2>
</div>

<div class="slide">
    <h2>
        The
        <code class="command bg-orange-100 text-orange-500">
            <i>repeat</i>repeat
        </code>
        command
    </h2>

    <br />

    <img src="./images/repeat-command.png" />

    <br />

    <p class="text-center">
        <code class="command bg-gray-100 text-gray-600"> { </code> means
        <strong>begin repeat</strong>
    </p>

    <p class="text-center mt-4">
        <code class="command bg-gray-100 text-gray-600"> } </code> means
        <strong>end repeat</strong>
    </p>
</div>

<div class="slide">
    <h2>Partner activity: Spirograph</h2>

    <div class="flex flex-row w-full gap-4">
        <ul class="flex-1">
            <li>
                Use the commands you learned today and
                <code class="command bg-orange-100 text-orange-500">
                    <i>repeat</i>repeat
                </code>
                to draw a spirograph!
            </li>

            <li>Work with your partner</li>

            <li>
                Click
                <img
                    src="./images/camera-button.png"
                    class="inline h-[1lh] align-bottom"
                />
                to save a photo when you're done
            </li>

            <li>
                <strong>Tip:</strong> Drag
                <code class="command bg-orange-100 text-orange-500">
                    <i>speed</i>speed
                </code>
                into your code to make the turtle go faster
            </li>
        </ul>

        <img
            src="./images/turtle-spirograph.png"
            class="w-[4in] ml-4 object-contain"
        />
    </div>
</div>

<div class="slide">
    <h2>Exit ticket (on your own)</h2>

    <h2 class="text-center font-normal">
        Take a screenshot of your work

        <br />
        <br />

        How many
        <code class="command bg-sky-100 text-sky-500">times</code>
        did you
        <code class="command bg-orange-100 text-orange-500">
            <i>repeat</i>repeat
        </code>
        to draw your spirograph?

        <br />
        <br />

        Could you draw your spirograph <em>without</em>
        <code class="command bg-orange-100 text-orange-500">
            <i>repeat</i>repeat
        </code>
        ? Why or why not? Which way do you think is better?
    </h2>
</div>
