---
tags: lesson
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{{ title }} — Teach Wipple</title>

        <link rel="icon" href="https://wipple.org/images/favicon.png" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="/styles/lesson.css" />
    </head>

    <body>
        <img src="https://www.wipple.org/images/logo.svg" class="logo" />

        <h1>{{ title }}</h1>
        <p><strong>{{ description }}</strong></p>

        <p>
            <strong>Duration:</strong> {{ duration }}
            <br />
            <strong>Required Materials:</strong> {{ materials }}
            <br />
            <strong>MA DLCS Standards:</strong> {{ standards }}
        </p>

        <hr />

        {{ content | typogrify | safe }}
    </body>
</html>
