@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Inter, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    line-height: 1.5;
}

@media screen {
    body {
        width: 8.5in;
        margin: 0.25in auto;
        padding: 0.4in;
        border: 1pt solid black;
    }
}

h1,
h2,
h3 {
    font-weight: 600;
    margin-top: 0.2in;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 16pt;
}

pre,
code {
    font-family: "JetBrains Mono", monospace;
}

li {
    @apply ml-[0.2in] mt-[0.5lh] list-outside list-disc;
}

small {
    @apply text-gray-500;
    font-size: 12pt;
}

footer {
    @apply absolute left-[0.5in] bottom-[0.5in] text-gray-500 text-sm;
}

hr {
    @apply my-4 border-black;
}

@media print {
    body {
        print-color-adjust: exact !important;
        -webkit-print-color-adjust: exact !important;
    }
}

.logo {
    display: block;
    width: 0.5in;
    height: 0.5in;
}
