---
layout: slideshow
title: Music and Variables
---

<div class="slide">
    {% include "slide-logo.html" %}

    <h1>Music and Variables</h1>

    <div class="objectives">
        <div class="box">
            <h3>Students will be able to:</h3>

            <ul>
                <li>Identify patterns in music</li>
                <li>
                    Compose a simple piano melody with
                    <strong>variables</strong>
                </li>
                <li>Compose a song with multiple instruments</li>
                <li>Compare variables vs. repetition</li>
            </ul>
        </div>

        <div class="box">
            <h3>Today's plan:</h3>

            <ul>
                <li><strong>Warm up:</strong> Music video</li>
                <li><strong>Guided practice:</strong> Setting up music</li>
                <li><strong>Activity:</strong> Composition (2 days)</li>
                <li><strong>Presentations</strong> and exit ticket</li>
            </ul>
        </div>
    </div>

    {% include "slide-footer.html" %}
</div>

<div class="slide">
    <h2>Warm up: Music video</h2>

    <a href="https://www.youtube.com/watch?v=hCKBl-TpRzc">
        <img src="./images/music-video.png" class="h-[5.5in]" />
    </a>

    <small>Source: Rousseau (YouTube)</small>
</div>

<div class="slide">
    <h2>Warm up: Music video</h2>

    <h2 class="text-center font-normal">
        <br />

        Share your pattern with a partner.

        <br />
        <br />

        Could you use
        <code class="command bg-orange-100 text-orange-500">
            <i>repeat</i>repeat
        </code>
        to play Twinkle Twinkle Little Star? Why or why not?
    </h2>
</div>

<div class="slide">
    <h2>Guided practice: Setting up music</h2>

    <ul>
        <li>
            <strong>Open your computers to Wipple </strong>
        </li>

        <li>Click <strong>Music</strong></li>
    </ul>

    <img
        src="./images/guided-practice-1.png"
        class="mt-8 object-contain mx-auto"
    />

    <footer>(Live demo of music editor)</footer>
</div>

<div class="slide">
    <h2>Activity: Code a song</h2>

    <div class="flex flex-row w-full gap-4">
        <ul class="flex-1">
            <li><strong>With a partner</strong>, create your own song!</li>

            <li>
                You have <strong>the rest of today</strong> and some time
                tomorrow
            </li>

            <li>
                Must have <strong>at least</strong>
                <span class="font-bold text-slate-500 underline">
                    3&nbsp;variables,
                </span>
                <span class="font-bold text-sky-500 underline">
                    2&nbsp;instruments,</span
                >
                and
                <span class="font-bold text-orange-500 underline">
                    1&nbsp;repeat
                </span>
            </li>

            <li>Switch roles every 15 minutes</li>

            <li>Everyone will <strong>present tomorrow!</strong></li>
        </ul>

        <img
            src="./images/ringtone-code.png"
            class="w-[3.65in] ml-4 object-contain border border-gray-500"
        />
    </div>
</div>

<div class="slide">
    <h1 class="text-center">
        <br />
        <br />

        Presentations!

        <br />
        <br />
    </h1>

    <h2 class="text-center font-normal">
        <strong>Explain</strong> how you made your song.
    </h2>
</div>

<div class="slide">
    <h2>Exit ticket (on your own)</h2>

    <ul>
        <li>Upload your code (click <strong>Print</strong>)</li>

        <li>
            How many
            <strong>variables</strong>
            did you use and what were their names? Why did you choose these
            names?
        </li>

        <li>
            Are <strong>variables</strong> and
            <code class="command bg-orange-100 text-orange-500">
                <i>repeat</i>repeat
            </code>
            the same? If so, how? If not, what makes them different?
        </li>

        <li>What about your song are you most proud of?</li>

        <li>Quickly answer the survey questions</li>
    </ul>
</div>
